<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <!-- <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" /> -->

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/flirtrate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cover.css">

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/facebook_all.js"></script>
    <script type="text/javascript" src="/javascripts/flirtrate.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
           {
             method: 'stream.publish',
             message: 'Message here.',
             attachment: {
                       name: 'FlirtRate',
        href: 'https://apps.facebook.com/flirtrate/',
        caption: '{*actor*} just found his/her soulmate',
        description: 'Discover Who of your friends you may have more posibilities with.',
        media: [{ type: 'image', src: 'http://res.cloudinary.com/flirtrate/image/facebook/h_400,w_400,g_face,c_fill/g_south,y_-200,l_FlirtRate_mp9ums/' + sorted_list[0]["uid"] +'.png',href: 'http://res.cloudinary.com/flirtrate/image/facebook/h_400,w_400,g_face,c_fill/g_south,y_-200,l_FlirtRate_mp9ums/' + sorted_list[0]["uid"] +'.png'}]
             }
           },
           function(response) {
             if (response && response.post_id) {
               console.log('Post was published.');
             } else {
               console.log('Post was not published.');
             }
           }
         )
        }); 
        $('#shareApp').click(function() {
          FB.ui(
           {
             method: 'stream.publish',
             message: 'Message here.',
             attachment: {
                       name: 'FlirtRate',
        href: 'https://apps.facebook.com/flirtrate/',
        description: 'Discover Who of your friends you may have more posibilities with.',
        media: [{ type: 'image', src: 'http://res.cloudinary.com/flirtrate/image/upload/v1392315220/FlirtRate_logo_lyczfs.png',href: 'http://res.cloudinary.com/flirtrate/image/upload/v1392315220/FlirtRate_logo_lyczfs.png'}]
             }
           },
           function(response) {
             if (response && response.post_id) {
               console.log('Post was published.');
             } else {
               console.log('Post was not published.');
             }
           }
         ); 
          // FB.ui(
          //   {
          //     method : 'feed',
          //     link   : $(this).attr('data-url'),
          //   },
          //   function (response) {
          //     // If response is null the user canceled the dialog
          //     if (response != null) {
          //       logResponse(response);
          //     }
          //   }
          // );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#login').click(function() {
          
          FB.login(function(response) {
           if (response.authResponse) {
             console.log('Welcome!  Fetching your information.... ');
             FB.api('/me', function(response) {
               console.log('Good to see you, ' + response.name + '.');
             });
            } else {
             console.log('User cancelled login or did not fully authorize.');
            }
          });

        });

      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,
          oauth      : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">FlirtRate</a></h3>
              <ul class="nav masthead-nav">
                <li><a href="#">Disclamer</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
       <% if @user %>
          <div class="inner cover">
            <h1 id="title" class="cover-heading">FlirtRate</h1>
            <p id="description" class="lead">Discover Who of your friends you may have more posibilities with.</p>
            <p id="results" class="lead" style="height:200px">
              <a href="#">
                <img id="heart" src="/images/logo.svg" style="width:200px">
              </a>
            </p>
          </div>


          <script>
            $('#heart').on('click', function(){
              $("#heart").addClass('animate');
              $("#title").html("Loading...")
              $("#description").html("It may take up to 2 minutes, please be patient...")
              begin();
            });
          </script>
      <% else %>
            <div class="inner cover">
            <h1 id="title" class="cover-heading">Welcome</h1>
              <p id="description" class="lead">
                <div class="fb-login-button" data-scope="<%= FACEBOOK_SCOPE %>">Log In</div>
              </p>
      <% end %>
          <div class="mastfoot">
            <div class="inner">          
              <p>
                <div id="sharecontrols">
                  <a id="postToWall" href="#">
                    Post Result to wall
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a id="shareApp" href="#">
                    Share App
                </div>
                FlirtRate by <a href="https://twitter.com/mackaber">@Mackaber</a>.
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>